/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

* {
  box-sizing: border-box; }

h1,
.h1 {
  font-size: 140px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  color: inherit; }
  @media only screen and (max-width: 1800px) {
    h1,
    .h1 {
      font-size: 76px; } }
  @media only screen and (max-width: 400px) {
    h1,
    .h1 {
      font-size: 50px; } }

h2,
.h2 {
  font-size: 64px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.8em;
  color: inherit;
  line-height: 1; }
  @media only screen and (max-width: 1024px) {
    h2,
    .h2 {
      font-size: 50px; } }
  @media only screen and (max-width: 400px) {
    h2,
    .h2 {
      font-size: 36px; } }

h3,
.h3 {
  font-size: 36px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.6em;
  color: inherit; }
  @media only screen and (max-width: 1024px) {
    h3,
    .h3 {
      font-size: 30px; } }

h4,
.h4 {
  font-size: 24px;
  font-family: "Teko", sans-serif;
  margin-bottom: 0;
  line-height: 1.1;
  color: #9c9c9c;
  text-transform: uppercase; }

h5,
.h5 {
  font-size: 28px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase; }

h6,
.h6 {
  font-size: 16px; }

ul {
  padding-left: 30px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto; }
  ul:not(:last-child) {
    margin-bottom: 1em; }
  ul li {
    list-style-type: disc; }
    ul li:not(:last-child) {
      margin-bottom: 1em; }

p {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto; }
  p:not(:last-child) {
    margin-bottom: 1em; }
  p + h3,
  p + .h3,
  p + h2,
  p + .h2 {
    margin-top: 1em; }

a {
  color: #2c8ab6;
  text-decoration: none;
  font-weight: 400; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

body {
  font-family: "Roboto Slab", serif;
  line-height: 1.8;
  font-weight: 300;
  color: #111;
  font-size: 24px;
  background: white; }
  @media only screen and (max-width: 1800px) {
    body {
      font-size: 18px; } }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 16px; } }

img {
  display: block;
  max-width: 100%; }

.center {
  text-align: center !important; }

.lowercase {
  text-transform: lowercase !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

table {
  border: 1px solid #9c9c9c;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: white; }
  table thead {
    background-color: #d3eaf4;
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px; }
  table tbody tr:not(:last-child) {
    border-bottom: 1px solid #f2f2f2; }
  table th,
  table td {
    padding: 10px 20px; }

section {
  background-position: center center;
  background-size: cover;
  text-align: center; }
  section:nth-child(odd) {
    background-color: #f2f2f2; }

.wrapper {
  max-width: 1800px;
  padding: 100px 5%;
  margin: 0 auto; }
  .wrapper--short {
    padding: 40px 5%; }
  @media only screen and (max-width: 400px) {
    .wrapper {
      padding: 60px 5%; } }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px; }
  .grid__item {
    color: inherit; }

.section__title {
  text-align: center; }

body {
  padding-top: 60px;
  transition: all 0.4s ease; }
  @media only screen and (max-width: 800px) {
    body {
      padding-top: 45px;
      position: relative; }
      body.open-nav {
        margin-left: 200px;
        margin-right: -200px; } }

header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f2f2f2;
  z-index: 9;
  height: 60px; }
  @media only screen and (max-width: 800px) {
    header {
      height: 45px; } }

nav {
  display: flex;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase; }
  @media only screen and (min-width: 801px) {
    nav {
      height: 60px; } }
  @media only screen and (max-width: 800px) {
    nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      display: block;
      background: white;
      width: 200px;
      border-right: 1px solid #f2f2f2;
      padding: 20px 0;
      transform: translateX(-200px);
      transition: all 0.4s ease; }
      .open-nav nav {
        transform: translateX(0); } }
  nav a {
    font-family: "Teko", sans-serif;
    color: inherit;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    font-size: 24px; }
    @media only screen and (max-width: 800px) {
      nav a {
        padding: 7px 30px; } }
    nav a span {
      display: inline-block;
      position: relative; }
      nav a span:before {
        content: "";
        width: 0;
        border-top: 10px solid #d3eaf4;
        position: absolute;
        bottom: 10px;
        z-index: -1;
        left: -2px;
        transition: all 0.2s ease; }
    nav a.active span:before, nav a:hover span:before, nav a:focus span:before {
      content: "";
      width: calc(100% + 4px); }

.mobile-nav-toggle {
  appearance: none;
  border: none;
  font-family: "Teko", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  background: white;
  border-right: 1px solid #f2f2f2;
  transition: all 0.4s ease; }
  .open-nav .mobile-nav-toggle {
    margin-left: 200px; }
  .mobile-nav-toggle:hover, .mobile-nav-toggle:focus {
    color: #2c8ab6;
    outline: none; }
  @media only screen and (min-width: 801px) {
    .mobile-nav-toggle {
      display: none; } }

@media only screen and (max-width: 800px) {
  .mobile-nav-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background: rgba(9, 29, 38, 0.8);
    display: none;
    animation: fadeIn 0.5s ease forwards; }
    .open-nav .mobile-nav-overlay {
      display: block; } }

footer {
  background: #111;
  color: white; }
  footer img {
    max-width: 100px; }

.footer__icons {
  display: flex;
  justify-content: center; }

.footer__link {
  display: block;
  margin: 10px 20px; }
  .footer__link:hover .footer__icon {
    transform: scale(1.1, 1.1); }

.footer__icon {
  display: block;
  height: 60px;
  transition: all 0.2s ease; }

#home {
  background-image: url("../../images/darian_bg.jpg");
  background-color: #2c8ab6;
  background-blend-mode: luminosity;
  filter: FlipH;
  color: white;
  text-align: right;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
  position: relative; }
  #home .wrapper {
    padding: 10vw 10%;
    position: relative;
    z-index: 1; }
  #home:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: black;
    opacity: 0.5; }

.home__title {
  text-align: inherit;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 500;
  color: inherit; }

.home__subtitle {
  text-align: inherit;
  line-height: 1;
  font-weight: 100;
  color: inherit;
  margin-bottom: 0; }

#what-i-do img {
  max-height: 150px;
  max-width: 250px;
  display: block;
  margin: 0 auto 50px; }
  @media only screen and (max-width: 1024px) {
    #what-i-do img {
      margin-bottom: 20px; } }
  @media only screen and (max-width: 800px) {
    #what-i-do img {
      max-height: 90px;
      max-width: 110px; } }

#what-i-do .grid {
  grid-column-gap: 80px; }
  @media only screen and (max-width: 1024px) {
    #what-i-do .grid {
      display: block; } }
  @media only screen and (max-width: 1024px) {
    #what-i-do .grid__item {
      margin: 0 auto 40px;
      max-width: 600px; } }

#what-i-do h3 {
  position: relative;
  display: inline-block; }
  #what-i-do h3:before {
    content: "";
    width: calc(100% + 4px);
    border-top: 10px solid #d3eaf4;
    position: absolute;
    bottom: 30%;
    z-index: -1;
    left: -2px;
    transition: all 0.2s ease; }

@media only screen and (max-width: 1024px) {
  .work__grid {
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 800px) {
  .work__grid {
    grid-template-columns: 1fr;
    grid-gap: 20px; } }

.work__grid__item {
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; }
  .work__grid__item:before {
    content: "";
    display: block;
    background-image: url("../../images/darian-face.jpg");
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 1; }
  .work__grid__item:hover .work__image {
    filter: blur(5px); }
  .work__grid__item:hover:before {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .work__grid__item__details {
    padding: 20px;
    text-align: center;
    background: white;
    position: relative; }
  .work__grid__item h3 {
    margin: 0;
    line-height: 1; }
  .work__grid__item p {
    font-size: 18px;
    color: #9c9c9c; }

.work__image {
  background-size: cover;
  background-position: center center;
  padding-bottom: 68%;
  transition: all 0.2s ease;
  position: relative;
  border-bottom: 1px solid #f2f2f2; }

#experience {
  text-align: left; }

.experience-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px; }

.experience-item {
  grid-template-columns: 2fr 4fr; }
  @media only screen and (max-width: 800px) {
    .experience-item {
      display: block; } }
  .experience-item:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #f2f2f2; }
    @media only screen and (max-width: 800px) {
      .experience-item:not(:last-child) {
        margin-bottom: 30px;
        padding-bottom: 30px; } }
  @media only screen and (max-width: 800px) {
    .experience-item__date {
      display: inline-block; } }
  @media only screen and (max-width: 400px) {
    .experience-item__date {
      display: block; } }
  .experience-item__company {
    line-height: 1;
    position: relative;
    display: inline-block; }
    @media only screen and (max-width: 800px) {
      .experience-item__company {
        display: inline-block;
        font-size: 24px;
        opacity: 0.8; }
        .experience-item__company:before {
          content: "|";
          margin-right: 10px;
          margin-left: 10px;
          color: #f2f2f2;
          border: none; } }
    @media only screen and (max-width: 400px) {
      .experience-item__company:before {
        content: none; } }
  .experience-item__position {
    line-height: 1;
    margin-bottom: 0.2em;
    position: relative;
    display: inline-block;
    font-weight: 100; }
    .experience-item__position:before {
      content: "";
      width: calc(100% + 4px);
      border-top: 10px solid #d3eaf4;
      position: absolute;
      bottom: 10%;
      z-index: -1;
      left: -2px;
      transition: all 0.2s ease; }
  .experience-item__duties {
    font-size: 18px; }
    @media only screen and (max-width: 1024px) {
      .experience-item__duties {
        font-size: 16px; } }
