/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

h1,
.h1 {
  font-size: 140px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  color: inherit; }
  @media only screen and (max-width: 1600px) {
    h1,
    .h1 {
      font-size: 76px; } }
  @media only screen and (max-width: 400px) {
    h1,
    .h1 {
      font-size: 50px; } }

h2,
.h2 {
  font-size: 64px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.8em;
  color: inherit;
  line-height: 1; }
  @media only screen and (max-width: 1024px) {
    h2,
    .h2 {
      font-size: 50px; } }
  @media only screen and (max-width: 400px) {
    h2,
    .h2 {
      font-size: 36px; } }

h3,
.h3 {
  font-size: 36px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.6em;
  color: inherit; }
  @media only screen and (max-width: 1024px) {
    h3,
    .h3 {
      font-size: 30px; } }

h4,
.h4 {
  font-size: 24px;
  font-family: "Teko", sans-serif;
  margin-bottom: 0;
  line-height: 1.1;
  color: #9c9c9c;
  text-transform: uppercase; }

h5,
.h5 {
  font-size: 18px; }

h6,
.h6 {
  font-size: 16px; }

p:not(:last-child) {
  margin-bottom: 1em; }

p + h3,
p + .h3,
p + h2,
p + .h2 {
  margin-top: 1em; }

a {
  color: #2c8ab6;
  text-decoration: none;
  font-weight: 400; }

body {
  font-family: "Roboto Slab", serif;
  line-height: 1.8;
  font-weight: 300;
  color: #111;
  font-size: 24px; }
  @media only screen and (max-width: 1600px) {
    body {
      font-size: 18px; } }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 16px; } }

img {
  display: block;
  max-width: 100%; }

.center {
  text-align: center; }

section {
  background-position: center center;
  background-size: cover;
  text-align: center; }
  section:nth-child(odd) {
    background-color: #f2f2f2; }

.wrapper {
  max-width: 1800px;
  padding: 100px 5%;
  margin: 0 auto; }
  .wrapper--short {
    padding: 40px 5%; }
  @media only screen and (max-width: 400px) {
    .wrapper {
      padding: 40px 5%; } }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px; }
  .grid__item {
    color: inherit; }

.section__title {
  text-align: center; }

body {
  padding-top: 60px;
  transition: all 0.4s ease; }
  @media only screen and (max-width: 1024px) {
    body {
      padding-top: 45px; }
      body.open-nav {
        margin-left: 200px;
        margin-right: -200px; } }

header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #f2f2f2;
  z-index: 9;
  height: 60px; }
  @media only screen and (max-width: 1024px) {
    header {
      height: 45px; } }

nav {
  display: flex;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase; }
  @media only screen and (min-width: 1025px) {
    nav {
      height: 60px; } }
  @media only screen and (max-width: 1024px) {
    nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      display: block;
      background: white;
      width: 200px;
      border-right: 1px solid #f2f2f2;
      padding: 20px 0;
      transform: translateX(-200px);
      transition: all 0.4s ease; }
      .open-nav nav {
        transform: translateX(0); } }
  nav a {
    font-family: "Teko", sans-serif;
    color: inherit;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    font-size: 24px; }
    @media only screen and (max-width: 1024px) {
      nav a {
        padding: 7px 30px; } }
    nav a span {
      display: inline-block;
      position: relative; }
      nav a span:before {
        content: "";
        width: 0;
        border-top: 10px solid #d3eaf4;
        position: absolute;
        bottom: 10px;
        z-index: -1;
        left: -2px;
        transition: all 0.2s ease; }
    nav a.active span:before, nav a:hover span:before, nav a:focus span:before {
      content: "";
      width: calc(100% + 4px); }

.mobile-nav-toggle {
  appearance: none;
  border: none;
  font-family: "Teko", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  background: white;
  border-right: 1px solid #f2f2f2;
  transition: all 0.4s ease; }
  .open-nav .mobile-nav-toggle {
    margin-left: 200px; }
  .mobile-nav-toggle:hover, .mobile-nav-toggle:focus {
    color: #2c8ab6;
    outline: none; }
  @media only screen and (min-width: 1025px) {
    .mobile-nav-toggle {
      display: none; } }

footer {
  background: #111;
  color: white; }
  footer img {
    max-width: 100px; }

.footer__icons {
  display: flex;
  justify-content: center; }

.footer__link {
  display: block;
  margin: 10px 20px; }
  .footer__link:hover .footer__icon {
    transform: scale(1.1, 1.1); }

.footer__icon {
  display: block;
  height: 60px;
  transition: all 0.2s ease; }

@media only screen and (min-width: 1025px) {
  .body--work h3 {
    line-height: 1.1; } }

.body--work section {
  text-align: left; }
  .body--work section .grid {
    grid-template-areas: "text image";
    grid-template-columns: 1fr 2fr;
    grid-gap: 60px; }
    @media only screen and (max-width: 1024px) {
      .body--work section .grid {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 800px) {
      .body--work section .grid {
        display: block; } }
  .body--work section:nth-child(odd) .grid {
    grid-template-areas: "image text"; }
    @media only screen and (min-width: 1025px) {
      .body--work section:nth-child(odd) .grid {
        grid-template-columns: 2fr 1fr; } }

.body--work .work__header {
  background-image: url(../../images/OtherlyImages.jpg);
  background-color: #018ada;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  box-shadow: inset 1000px 0 700px -100px rgba(242, 242, 242, 0.95); }
  .body--work .work__header__title {
    line-height: 1.2;
    margin-bottom: 0;
    text-align: left; }

.body--work .work__text {
  grid-area: text; }

.body--work .work__image {
  grid-area: image; }
  @media only screen and (max-width: 800px) {
    .body--work .work__image {
      margin-top: 40px; } }

.more-projects {
  display: flex; }
  .more-projects__project {
    flex: 1;
    padding: 50px 10%;
    background-size: cover;
    background-position: center;
    background-color: #2c8ab6;
    background-blend-mode: luminosity;
    box-shadow: inset 0 150px 0 100px rgba(9, 29, 38, 0.8);
    color: white;
    position: relative; }
    @media only screen and (max-width: 800px) {
      .more-projects__project {
        padding: 50px 5%; } }
    .more-projects__project:before {
      font-size: 18px;
      font-family: "Teko", sans-serif;
      text-transform: uppercase;
      opacity: 0.8; }
    .more-projects__project--previous {
      text-align: right;
      border-right: 1px solid #f2f2f2; }
      @media only screen and (max-width: 800px) {
        .more-projects__project--previous {
          text-align: left; } }
      .more-projects__project--previous:before {
        content: "Previous project"; }
    .more-projects__project--next {
      text-align: left; }
      @media only screen and (max-width: 800px) {
        .more-projects__project--next {
          text-align: right; } }
      .more-projects__project--next:before {
        content: "Next project"; }
    .more-projects__project__title {
      display: block; }
      @media only screen and (max-width: 800px) {
        .more-projects__project__title {
          display: none; } }
