h1,
.h1 {
  font-size: 140px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  color: inherit;
}
@media only screen and (max-width: 1800px) {
  h1,
  .h1 {
    font-size: 76px;
  }
}
@media only screen and (max-width: 400px) {
  h1,
  .h1 {
    font-size: 50px;
  }
}

h2,
.h2 {
  font-size: 36px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0.6em;
  color: inherit;
}
@media only screen and (max-width: 1024px) {
  h2,
  .h2 {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 28px;
  font-family: "Teko", sans-serif;
  margin-bottom: 0.2em;
}

h4,
.h4 {
  font-size: 24px;
  font-family: "Teko", sans-serif;
  margin-bottom: 0;
  line-height: 1.1;
  color: #9c9c9c;
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: 64px;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.8em;
  color: inherit;
  line-height: 1;
}
@media only screen and (max-width: 1024px) {
  h6,
  .h6 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 400px) {
  h6,
  .h6 {
    font-size: 36px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
h2.fullwidth,
h3.fullwidth,
h4.fullwidth,
h5.fullwidth,
h6.fullwidth {
  max-width: none;
}
