@mixin highlight($bottom: 13px, $left: -7px, $width: calc(100% + 10px)) {
    content: "";
    width: $width;
    border-top: 20px solid $color-primary-light;
    position: absolute;
    bottom: $bottom;
    z-index: -1;
    left: $left;
    transition: all 0.2s ease;
    transform: skew(-5deg, -5deg);
}
