$color-primary: #228deb;
$color-grey-light: #f2f2f2;
$color-black: #333;

$font-family-headings: "Teko", sans-serif;
$font-family-main: "Roboto Slab", serif;

$font-size-xxl: 64px;
$font-size-xl: 64px;
$font-size-lg: 36px;
$font-size-md: 24px;
$font-size-sm: 18px;
$font-size-xs: 14px;
$font-size-xxs: 12px;

$section-width: 1440px;
$content-width: 800px;
